<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetMeWet Web</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h1>It is working!</h1>
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>Hold1</h2>

                <h3>Hold2</h3>
            </div>
        </div>
    </div>
    <a href="#" th:href="@{/login}">Sign In</a>
</body>
</html>